    .divHome {
        /* width: 23%; */
        margin: 0 auto;
        text-align: center;
    }
    
    .divHome figcaption {
        background-color: rgb(255, 174, 0);
        padding: 2%;
    }
    
    .divHome figure img {
        width: 100%;
    }
    
    .divHome a {
        display: block;
        text-decoration: none;
        color: white;
    }
    
    .navDiv {
        background-color: yellow;
        height: 15%;
        text-align: center;
        position: fixed;
        bottom: 0;
        width: 100%;
    }
    
    .navDiv img {
        width: 25%;
        background-color: white;
        border-radius: 50%;
    }
    
    .galleryPics {
        display: grid;
        grid-template-columns: 1fr 2fr;
        padding: 5%;
    }
    
    .galleryPics article:nth-of-type(2) button {
        display: block;
        padding: 5px 15px 5px 15px;
        border-radius: 10px;
        border: transparent;
        background-color: rgb(255, 183, 0);
        color: white;
    }
    
    .galleryPics article:nth-of-type(2) a {
        text-decoration: none;
    }
    
    .galleryPics img {
        width: 50%;
    }
    
    .itemDiv {
        display: grid;
        grid-template-columns: 1fr;
        place-items: center;
    }
    
    .itemDiv img:nth-of-type(1) {
        width: 15%;
    }
    
    .itemDiv a:nth-of-type(1) {
        display: block;
        width: 100%;
        margin-top: 1rem;
    }
    
    .fasfas {
        font-size: 1rem;
        color: black;
    }
    
    .galleryUpperDiv {
        padding-bottom: 10rem;
    }