    .divHome {
        /* width: 23%; */
        margin: 0 auto;
        text-align: center;
    }
    
    .divHome figcaption {
        background-color: rgb(255, 174, 0);
        padding: 2%;
    }
    
    .divHome a {
        display: block;
        text-decoration: none;
        color: white;
    }
    
    .navDiv {
        background-color: yellow;
        height: 15%;
        text-align: center;
        position: fixed;
        bottom: 0;
        width: 100%;
    }
    
    .navDiv img {
        width: 25%;
        background-color: white;
        border-radius: 50%;
    }
    
    .galleryPics {
        display: grid;
        grid-template-columns: 1fr 2fr;
        padding: 5%;
    }
    
    .galleryPics img {
        width: 50%;
    }
    
    .itemDiv {
        display: grid;
        grid-template-columns: 1fr;
        place-items: center;
    }
    
    .itemDiv img {
        width: 10%;
    }
    
    .fasfas {
        font-size: 1rem;
        color: black;
    }